extends layout

block content
  .dashboard-container
    h1 Dashboard
    p.intro Welcome to the Dashboard. Choose an option below:
    
    .button-container
      form(action="/downloadFullDatabase" method="get")
        button(type="submit") Download full database
      form(action="/dupes" method="get")
        button(type="submit") Go to Dupes
      form(action="/customRequest" method="get")
        button(type="submit") Go to Custom Request
