extends layout.pug
    
block content
    div(style="display: flex; align-items: stretch")
      form(action="/dashboard" method="get")
        button(type="submit" class="back_button") Back
      h1 Welcome! #{global.userInfo.display_name}. 
    p idk yet man, something about loading this.